* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html {
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}

img {
    width: 100%;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    width: 100%;
    height: 70px;
    position: absolute;
    z-index: 1;
}

header .logo a {
    font-size: 30px;
    color: white;
    padding: 15px 30px;
}

header .logo a span {
    color: rgb(224, 128, 144);
}

header nav ul {
    display: flex;
}

header nav ul li a {
    margin: 5px 20px;
    font-size: 18px;
    color: white;
    padding: 10px 10px;
}

header nav ul li a:hover {
    border-bottom: 2px solid rgb(233, 136, 136);
}



.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(to bottom right, rgba(96, 76, 76, .6), rgba(96, 76, 76, .6)), url("donuts.jpg");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.content h2 {
    font-size: 32px;
    padding: 5px;
    color: white;
}

.content p {
    font-size: 22px;
    color: white;
}




.menu {
    background-color: gray;
    width: 100%;
}

.menu .menu-header {
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
}

.menu-header h3 {
    color: white;
    padding: 10px 30px;
}

.menu-header h4 {
    color: white;
    padding: 10px 20px;
}

.menu-box {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #f3c2c2;
    padding: 50px 0;
    flex-wrap: wrap;
}

.menu-box .card {
    width: 280px;
    margin: 20px;
}

.menu-box .card-image {
    width: 100%;
    height: 280px;
    overflow: hidden;
}

.menu-box .card-image img:hover {
    transform: scale(1.1);
    transition: transform .4s ease-in-out;
}

.menu-box .card-body {
    padding: 20px;
    color: white;
    border: 3px solid #3B3B3B;
    text-align: justify;
}

.menu-box .card-body h3 {
    padding: 10px 0;
}

.menu-box .card-body i {
    color: yellow;
    font-size: 10px;
    position: relative;
    bottom: 5px;
}

.menu-box .card-body .cash {
    font-size: 22px;
    margin-left: 90px;
}




.contact {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border-top: 2px solid #333333;
}

.contact .contact-box {
    flex: 1;
}


.contact-body {
    background-color: pink;
    height: 100%;
    border-left: 2px solid pink;
}

.contact-body form {
    padding: 50px 40px;
    box-sizing: border-box;
}

.contact-body h2 {
    color: black
}

form .form-content {
    position: relative;
    margin: 30px 0;
    border-bottom: 2px solid black;
}

form .form-content input {
    width: 100%;
    height: 40px;
    padding: 0 5px;
    font-size: 17px;
    border: none;
    background: none;
    outline: none;
    color: black;
}

form .form-content label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: gray;
    transform: translateY(-50%);
    font-size: 17px;
    transition: .5s;
    pointer-events: none;
}

form .form-content span::before {
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: orange;
    transform: .4s;
}

form .form-content input:focus~label,
form .form-content input:valid~label {
    top: -5px;
    color: orange;
}

form .form-content input:focus~span::before,
form .form-content input:valid~span::before {
    width: 100%;
}

.contact-body form button {
    padding: 10px 20px;
    font-size: 17px;
    border: none;
    background-color: #ff6600;
    color: white;
    border: 5px;
    cursor: pointer;
    transition: all .4s ease-in;
}

.contact-body form button:hover {
    background-color: #ff6681;
}

.footer {
    background-color: #ffc0cb;
    padding: 20px;
    text-align: center;
}

.footer .social-media-table {
    width: 50%;
    margin: 20px auto;
    border-collapse: collapse;
}

.footer .social-media-table th,
.footer .social-media-table td {
    padding: 10px;
    text-align: center;
}

.footer .social-media-table th {
    background-color: palevioletred;
    color: white;
}


@media(max-width: 992px) {


    header {
        flex-direction: column;
        height: 150px;
        background: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .2));
    }

    .menu-header .logo a {
        font-size: 25px;
    }

    header nav ul li a {
        font-size: 16px;
        flex-direction: column;
        display: inline-block;
        margin-top: 10px;
    }

    header nav {
        display: flex;
        flex-direction: column;
    }

    .content h2 {
        font-size: 28px;
    }

    .content p {
        font-size: 18px;
    }
}


@media(max-width: 950px) {
    .contact .contact-box {
        flex: 100%;
    }
}

@media(max-width: 800px) {

    .menu .menu-content .hot-coffees,
    .cold-coffees,
    .frappucino-coffees {
        margin: 20px;
    }
}

@media(max-width: 700px) {
    .footer .footer-box .social-media a {
        color: white;
        background-color: #333333;
        border-radius: 50%;
        font-size: 16px;
        padding: 5px;
    }


}

@media(max-width: 500px) {

  
    header {
        height: 130px;
    }

    header .logo a {
        font-size: 23px;
    }

    header nav ul li a {
        font-size: 13px;
        flex-direction: column;
        display: inline-block;
        margin-top: 10px;
    }

    header nav {
        display: flex;
        flex-direction: column;
    }


  

    .content h2 {
        font-size: 23px;
    }

    .content p {
        font-size: 16px;
    }


}


@media(max-width: 410px) {

  

    header {
        height: 120px;
    }

    header .logo a {
        font-size: 20px;
        color: white;
        padding: 15px 30px;
    }

    header nav ul li a {
        font-size: 12px;
        flex-direction: column;
        display: inline-block;
        margin-top: 10px;
        color: white;
        padding: 5px 5px;
    }

    header nav {
        display: flex;
        flex-direction: column;
    }

 

    .content h2 {
        font-size: 20px;
    }

    .content p {
        font-size: 13px;
    }

}